/*@media only screen and (min-width: 992px) {
    .containerSuc {color: red; }
  }
  @media only screen and (min-width:796px) and (max-width: 991px){
  @media only screen and (max-width: 795px){*/
/*@mixin mediaq ($media) {

    @media 
*/
.primera {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: inherit;
  text-decoration: solid;
}
.primera .navbar {
  height: 250px;
  background-image: url(../imagenes/fondorosah.jpg);
  background-size: cover;
}
.primera .navbar .logo1 {
  margin-left: 10px;
}
.primera .navbar .menu {
  margin-left: 80px;
}
.primera .navbar .menu .link {
  margin: 10px;
  color: black;
  text-decoration: solid;
  font-style: italic;
}
.primera .navbar .menu .link:hover {
  color: rgba(10, 3, 3, 0.445);
}
.primera .navbar .menu .submenu {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: black;
  text-decoration: solid;
  font-style: italic;
  /*&:hover{
      background-color:nth ($colorfondos,3) ;

  }*/
}

.newsection {
  padding-top: 20px;
  background-color: #f6ddcc;
}
.newsection .card {
  background-image: url(../imagenes/fondorosah.jpg);
  border-radius: 20px;
  border: cadetblue solid 5px;
}
.newsection .card .fotos3 {
  border-radius: 30px;
  padding: 10px;
}
.newsection .card .texto {
  color: black;
  text-decoration: solid;
  font-style: italic;
  text-align: center;
  font-size: 18px;
}

.finpagnew {
  background-image: url(../imagenes/fondorosah.jpg);
  background-color: #f6ddcc;
  background-size: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  font-weight: initial;
  font-size: 15px;
  color: black;
  text-decoration: solid;
  font-style: italic;
}
.finpagnew .redes {
  padding: 10px;
}
.finpagnew .mail:hover {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  /**/
}

/*@media only screen and (min-width: 992px) {
    .containerSuc {color: red; }
  }
  @media only screen and (min-width:796px) and (max-width: 991px){
  @media only screen and (max-width: 795px){*/
/*@mixin mediaq ($media) {

    @media 
*/
.encabezado {
  width: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.cardx {
  transform: scale(2);
}

.cardx {
  margin-left: 30px;
  margin-bottom: 50px;
}

.primera {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: inherit;
  text-decoration: solid;
}
.primera .navbar {
  height: 250px;
  background-image: url(../imagenes/fondorosah.jpg);
  background-size: cover;
}
.primera .navbar .logo1 {
  margin-left: 10px;
}
.primera .navbar .menu {
  margin-left: 80px;
}
.primera .navbar .menu .link {
  margin: 10px;
  color: black;
  text-decoration: solid;
  font-style: italic;
}
.primera .navbar .menu .link:hover {
  color: rgba(10, 3, 3, 0.445);
}
.primera .navbar .menu .submenu {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: black;
  text-decoration: solid;
  font-style: italic;
  /*&:hover{
      background-color:nth ($colorfondos,3) ;

  }*/
}

.section1 {
  background-color: rgba(156, 236, 236, 0.966);
  height: 80px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-decoration: solid;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section2 .fotos1 {
  width: 100%;
  height: 500px;
}

.section3 {
  background-image: url(../imagenes/fondorosah.jpg);
  background-size: auto;
}
.section3 .fotos2 {
  padding: 10px;
  width: 95%;
}
.section3 .fotos2:hover {
  transform: scale(2);
  width: 60%;
}

.finpag {
  background-image: url(../imagenes/fondorosah.jpg);
  background-size: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  font-weight: initial;
  font-size: 20px;
  color: black;
  text-decoration: solid;
  font-style: italic;
}
.finpag .redes {
  padding: 10px;
}
.finpag .mail:hover {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  /**/
}

/*# sourceMappingURL=style.css.map */
