
$colorlogo:
rgb(247, 220, 111)
rgb(249, 231, 159)
rgb(252, 243, 207)
rgb(254, 249, 231)
rgb(218, 247, 166)
rgb(255, 195, 0);

$colorcard:
rgb(250, 229, 211)
rgb(247, 220, 111)
rgb(249, 231, 159)
rgb(252, 243, 207)
rgb(254, 249, 231)
rgb(218, 247, 166);

$colorfondos:
rgb(250, 215, 160)
rgb(245, 203, 167)
rgb(246, 221, 204)
rgb(250, 229, 211)
rgb(247, 220, 111)
rgb(249, 231, 159);