@import"../base/fonts";
@import"../base/colores";
*{
    margin: 0;
    padding: 0;
}

.primera {
    font-family: $font3;
    font-size: 30px;
    font-style: inherit;
    text-decoration: solid;
    background-color:nth($colorlogo,3);
    

    .navbar{
        height: 250px;
        background-image: url(/imagenes/acuarela.jpg);
        margin: solid nth($colorcard,5) 5px;
       
        

    }
    .submenu {
        font-family: $font3;
        font-size: 30px;

    }
}
.collapse {
    padding-left: 30px;
    padding-right: 10px;
}

.carousel-inner{
    width: 100%;
    height: 500px;}


footer {
    background-image: url(../imagenes/fondo.jpg);
    text-align: center;
    font-family: $font3;
    padding-top: 20px;
    font-weight: initial;
    font-size: 30px;
    text-decoration: solid;
    .redes{
        padding: 10px;
    }
    .mail {
        
        &:hover{
            font-family: $font2;
            /**/
        }
    }
    
}