@import"../base/fonts";
@import"../base/colores";

.primera {
    font-family: $font3;
    font-size: 30px;
    font-style: inherit;
    text-decoration: solid;
   
    .logo1 {
        margin-left: 10px;
       
    }
    
    .navbar{
        height: 250px;
        background-image: url(../imagenes/fondorosah.jpg);
        .menu {
            margin-left: 60px;
            .link {
                margin: 10px;
                @include mixmenu;

                &:hover { 
                    
                    color: rgba(10, 3, 3, 0.445)
                }
            }
            .submenu {
                font-family: $font3;
                font-size: 30px;
                @include mixmenu;

                /*&:hover{
                    background-color:nth ($colorfondos,3) ;
                   
                }*/
        
            } 
            
        }
        
        
        

    }
    
}
.section1 {
    background-color:rgb(177, 190, 252);
    height: 80px;
    text-align: center;
    font-family: $font3;
    font-size: 30px;
    text-decoration: solid;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
}
 .fotos1{
    width: 100%;
    height: 500px;
    
    
}



.footer {
    background-image: url(../imagenes/fondorosah.jpg);
    text-align: center;
    font-family: $font3;
    padding-top: 20px;
    font-weight: initial;
    font-size: 30px;
    text-decoration: solid;
    .redes{
        padding: 10px;
    }
    .mail {
        
        &:hover{
            font-family: $font2;
            font-size: 30px;
            /**/
        }
    }
    
}