@import"../base/fonts";
@import"../base/colores";
@import"../base/mixing";


.primera {
    font-family: $font3;
    font-size: 20px;
    font-style: inherit;
    text-decoration: solid;
   
    .navbar{
        height: 250px;
        background-image: url(../imagenes/fondorosah.jpg);
        background-size: cover;

        .logo1 {
            margin-left: 10px;
           
        }
        .menu {
            margin-left: 250px;
            .link {
                margin: 10px;
                @include mixmenu;

                &:hover { 
                    
                    color: rgba(10, 3, 3, 0.445)
                }
            }
            .submenu {
                font-family: $font3;
                font-size: 30px;
                @include mixmenu;

                /*&:hover{
                    background-color:nth ($colorfondos,3) ;
                   
                }*/
        
            } 
            
        }
        
        
        

    }
    
}
.newsection{
    margin: auto 20px;
    padding-top: 20px;
    
    
   
    .card {
        background-image: url(../imagenes/fondorosah.jpg); 
        border-radius: 20px;
        border: #ffffd5;
        .fotos3{
            border-radius: 30px;
            padding: 10px;
        }
        .texto{
            @include mixmenu;
            text-align: center;
            font-size: 18px;
        }
    }

}
.finpag {
    background-image: url(../imagenes/fondorosah.jpg);
    background-size:auto;
    text-align: center;
    font-family: $font3;
    padding-top: 20px;
    font-weight: initial;
    font-size: 20px;
    @include mixmenu;
    
    .redes{
        padding: 10px;
    }
    .mail {
        
        &:hover{
            font-family:$font2;
            font-size: 30px;
            /**/
        }
    }
    
}
