@import"../base/fonts";
@import"../base/colores";
@import"../base/mixing";
header {
    font-family: $font2;
    font-size: 25px;
    font-style: inherit;
    
    .navbar{ 
        background-image: url(../imagenes/fondorosah.jpg);
        background-size: cover;
        height: 150px;

        .menu {
            margin-left: 150px;

            .nav-link {
                margin: 10px;
                @include mixmenu;

                &:hover {  
                    color: rgba(10, 3, 3, 0.445)
                }
            }
        
            } 
            
        }
      
    
}


    .newsection{
   
    .card {
        background-image: url(../imagenes/fondorosah.jpg); 
        border-radius: 20px;
        border: #ffffd5;
        .fotos3{
            border-radius: 30px;
            padding: 10px;
        }
        .texto{
            @include mixmenu;
            text-align: center;
            font-size: 18px;
        }
    }

}
.finpag {
    background-image: url(../imagenes/fondorosah.jpg);
    background-size:auto;
    text-align: center;
    font-family: $font3;
    padding-top: 20px;
    font-weight: initial;
    font-size: 20px;
    @include mixmenu;
    
    .redes{
        padding: 10px;
    }
    .mail {
        
        &:hover{
            font-family:$font2;
            font-size: 30px;
            /**/
        }
    }
    
}
