@import"../base/fonts";
@import"../base/colores";
@import"../base/medias";
header {
    font-family: $font2;
    font-size: 25px;
    font-style: inherit;
    
    .navbar{ 
        background-image: url(../imagenes/fondorosah.jpg);
        background-size: cover;
        height: 150px;

        .menu {
            margin-left: 150px;

            .nav-link {
                margin: 10px;
                @include mixmenu;

                &:hover {  
                    color: rgba(10, 3, 3, 0.445)
                }
            }
        
            } 
            
        }
      
    
}


.sucursales{
    
    .row-card {
        display: flex;
        justify-content: center;

        .card1{
            margin: 20px;
            background-color: #fcfcda;

            .fotos4{
                width: 100%;
                height: 60%;
                padding: 15px;
                align-content: center;
                
            }
            .texto2{
                text-align: center;
                @include mixmenu;
    
            }
    }

    
    }
}
.finpag {
    background-image: url(../imagenes/fondorosah.jpg);
    background-size:auto;
    text-align: center;
    font-family: $font3;
    padding-top: 20px;
    font-weight: initial;
    font-size: 20px;
    @include mixmenu;
    
    .redes{
        padding: 10px;
    }
    .mail {
        
        &:hover{
            font-family: $font2;
            font-size: 30px;
            /**/
        }
    }
    
}